body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
  overflow-x: hidden;
}
html, body, #root, .App{
  height: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
.hero{
  height: 100vh;
}
.countries{
  margin: 35rem 0;
}
.text-active{
  color: black!important;
}
ul li {
  list-style: none;
  cursor: pointer;
}
ul li:hover p{
  color: #868686;
}
.content p {
  color: lightgray;
  transition: all .3s;
}

.content{
  padding-bottom: 3rem!important;
}
.sticky-top{
  height: 100vh;
}
.ratio{
  background: #f1f4f5;
  transform: scale(1.5);
}
.ratio .position-absolute{
  transition: all .3s ease;
  
}

.country-flag{
  position: absolute;
	border-radius: 25px;
	height: 100%;
	width: 100%;
	right: 0;
	bottom: 0;
	object-fit: cover;
}

.gradient-1{
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  
}
.gradient-2{
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}
.gradient-3{
  background-color: #D9AFD9;
  background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
}

.gradient-4{
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%); 
}

.gradient-5{
  background-color: #85FFBD;
  background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%)
}

.gradient-6{
  background-color: #21D4FD;
background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);

}






